@font-face {
    font-family: 'Spacedock Stencil';
    font-style: normal;
    font-weight: 400;
    src: local('Spacedock Stencil'), url('https://fonts.cdnfonts.com/s/4324/Spacedock%20Stencil.woff') format('woff');
}

@font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 700;
    src: local('DS-Digital'), url('https://fonts.cdnfonts.com/s/15049/DS-DIGI.woff') format('woff');
}

Label {
    -fx-alignment: center;
}

Button {
    -fx-background-color: #92937f;
}

ComboBox {
    -fx-background-color: #92937f;
}

.timerFont {
    -fx-font-family: "DS-Digital";
    -fx-text-fill: #610000;
    -fx-effect: dropshadow(gaussian, #c83c3c, 12, 0.5, 0, 0);
}

.militaryFont {
    -fx-font-family: "Spacedock Stencil";
    -fx-text-fill: #21370e;
}

.winnerStatusLabel {
    -fx-font-size: 30pt;
}

.bombInfoLabel {
    -fx-font-size: 20pt;
}